# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우** 사용
* while은 반복 횟수가 정해져 있지 않은 경우 **(무한 반복)** 사용

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리):<br>
____반복할 코드

In [1]:
# 숫자 생성 함수 range(시작, 끝, step)

In [3]:
# for문을 이용해서 숫자 1-10을 출력
for num in range(1, 11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

* 순서가 있는 자료형(문자열, 리스트, 튜플) + 순서는 없지만 dict도 반복문에서 사용가능

In [3]:
len("파이썬은 문자열을 반복문에 넣어 출력 가능")

23

In [2]:
# 문자열
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end="")

파이썬은 문자열을 반복문에 넣어 출력 가능

In [7]:
# 리스트
for l_item in [1,2,3,"사", "오", [6,7,8], (8, 9,10), {"key": "value"}]:
    print(l_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [8]:
# 튜플
for l_item in (1,2,3,"사", "오", [6,7,8], (8, 9,10), {"key": "value"}):
    print(l_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [4]:
t = (1,2,3,"사", "오", [6,7,8], (8, 9,10), {"key": "value"})
t

(1, 2, 3, '사', '오', [6, 7, 8], (8, 9, 10), {'key': 'value'})

In [5]:
for t_item in t:
    print(t_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [6]:
d = dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-1111")

In [7]:
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [8]:
for i in d:
    print(i)

이름
나이
주소
전화번호

In [10]:
for key in d:
    print(d[key])

홍길동
40
서울
010-1111-1111

In [15]:
d.values()

dict_values(['홍길동', 40, '서울', '010-1111-1111'])

In [12]:
for value in d.values():
    print(value)

홍길동
40
서울
010-1111-1111

In [16]:
d.items()

dict_items([('이름', '홍길동'), ('나이', 40), ('주소', '서울'), ('전화번호', '010-1111-1111')])

In [17]:
for key, value in d.items():
#     print(d.get(item, "key 없음"))
    print("key:", key, "value:", value)

key: 이름 value: 홍길동
key: 나이 value: 40
key: 주소 value: 서울
key: 전화번호 value: 010-1111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요
  * 1부터 10까지 숫자를 만들어서 반복문에 넣는다.
  * 1부터 10까지 누적 덧셈을 한다.
  * 누적 덧셈을 한 결과를 출력 한다.

In [24]:
hap = 0

for num in range(1,11):
    hap = hap + num

print(hap)

55

In [27]:
hap = 0
for num in range(1, 11):
#     hap = 0
#     print(num, end=" ")
    print(f"hap: {hap} + num: {num}", end=": ")
    hap += num # hap = hap + num
    print(f"{hap}")

hap: 0 + num: 1: 1
hap: 1 + num: 2: 3
hap: 3 + num: 3: 6
hap: 6 + num: 4: 10
hap: 10 + num: 5: 15
hap: 15 + num: 6: 21
hap: 21 + num: 7: 28
hap: 28 + num: 8: 36
hap: 36 + num: 9: 45
hap: 45 + num: 10: 55

* 1부터 50까지 수 중에서 짝수인 수의 합을 구하시오.
* 1-50 수를 만들기 (range(1-51))
* 홀수, 짝수 구분 if,  % 2 == 0
* 짝수일 때 누적 합, 결과저장할 변수 hap 
* 최종 결과 출력

In [32]:
hap = 0
for num in range(1, 51):
#     print(num, end=" ")
    if num % 2 == 0:
        print(f"hap: {hap}, num: {num}")
        hap += num

print(hap)

hap: 0, num: 2
hap: 2, num: 4
hap: 6, num: 6
hap: 12, num: 8
hap: 20, num: 10
hap: 30, num: 12
hap: 42, num: 14
hap: 56, num: 16
hap: 72, num: 18
hap: 90, num: 20
hap: 110, num: 22
hap: 132, num: 24
hap: 156, num: 26
hap: 182, num: 28
hap: 210, num: 30
hap: 240, num: 32
hap: 272, num: 34
hap: 306, num: 36
hap: 342, num: 38
hap: 380, num: 40
hap: 420, num: 42
hap: 462, num: 44
hap: 506, num: 46
hap: 552, num: 48
hap: 600, num: 50
650

* 1부터 100까지 수를 만들고 그 중에서 30-70까지만 더해서 출력하세요
* 과정 출력
* 2가지 방법을 이용해서 코드 작성 if 조건문, 슬라이싱

In [5]:
for p in range(0,101):
    #print(p, end=",")
    if 71>p>31:
        hap+=p
        print(hap)

NameError: name 'hap' is not defined

In [7]:
hap = 0
for num in range(1,101):
#     print(num, end=" ")
    if 30 <= num <= 70:
        print(f"hap: {hap}, num: {num}")
        hap += num
        print(hap, end=" ")

hap: 0, num: 30
30 hap: 30, num: 31
61 hap: 61, num: 32
93 hap: 93, num: 33
126 hap: 126, num: 34
160 hap: 160, num: 35
195 hap: 195, num: 36
231 hap: 231, num: 37
268 hap: 268, num: 38
306 hap: 306, num: 39
345 hap: 345, num: 40
385 hap: 385, num: 41
426 hap: 426, num: 42
468 hap: 468, num: 43
511 hap: 511, num: 44
555 hap: 555, num: 45
600 hap: 600, num: 46
646 hap: 646, num: 47
693 hap: 693, num: 48
741 hap: 741, num: 49
790 hap: 790, num: 50
840 hap: 840, num: 51
891 hap: 891, num: 52
943 hap: 943, num: 53
996 hap: 996, num: 54
1050 hap: 1050, num: 55
1105 hap: 1105, num: 56
1161 hap: 1161, num: 57
1218 hap: 1218, num: 58
1276 hap: 1276, num: 59
1335 hap: 1335, num: 60
1395 hap: 1395, num: 61
1456 hap: 1456, num: 62
1518 hap: 1518, num: 63
1581 hap: 1581, num: 64
1645 hap: 1645, num: 65
1710 hap: 1710, num: 66
1776 hap: 1776, num: 67
1843 hap: 1843, num: 68
1911 hap: 1911, num: 69
1980 hap: 1980, num: 70
2050

In [12]:
# 슬라이싱 사용하기
print(list(range(1,101))[29:71], end="")

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71]

In [15]:
for num in range(1,101)[29:71:2]:
    print(num, end=" ")
    
    #짝수들만 출력해보고.

30

TypeError: 'int' object is not iterable

In [16]:
#합
hap=0
for num in range(1,101)[29:71:2]:
    #print(num, end=" ")
    hap+=num
print(hap)

1050

In [ ]:
#과정까지 보여주려면
hap=0
for num in range(1,101)[29:71:2]:
    #print(num, end=" ")
    hap+=num
print(hap)

In [47]:
hap = 0
for num in range(1,101)[29:70]:
#     print(num, end=" ")
    print(f"hap: {hap}, num: {num}")
    hap += num
print(hap)

hap: 0, num: 30
hap: 30, num: 31
hap: 61, num: 32
hap: 93, num: 33
hap: 126, num: 34
hap: 160, num: 35
hap: 195, num: 36
hap: 231, num: 37
hap: 268, num: 38
hap: 306, num: 39
hap: 345, num: 40
hap: 385, num: 41
hap: 426, num: 42
hap: 468, num: 43
hap: 511, num: 44
hap: 555, num: 45
hap: 600, num: 46
hap: 646, num: 47
hap: 693, num: 48
hap: 741, num: 49
hap: 790, num: 50
hap: 840, num: 51
hap: 891, num: 52
hap: 943, num: 53
hap: 996, num: 54
hap: 1050, num: 55
hap: 1105, num: 56
hap: 1161, num: 57
hap: 1218, num: 58
hap: 1276, num: 59
hap: 1335, num: 60
hap: 1395, num: 61
hap: 1456, num: 62
hap: 1518, num: 63
hap: 1581, num: 64
hap: 1645, num: 65
hap: 1710, num: 66
hap: 1776, num: 67
hap: 1843, num: 68
hap: 1911, num: 69
hap: 1980, num: 70
2050

* 100에서 1까지 더하는 반복문을 만드세요.
* range에서 역순으로 숫자를 생성
* range(1, 101) 을 뒤집는 방법 2가지
* 최종 결과만 출력

In [52]:
hap = 0
for num in range(100,0, -1):
#     print(num, end=" ")
    hap += num
print(hap)

5050

In [56]:
# 슬라이싱을 이용해서 순서 뒤집기
hap = 0
for num in range(1,101)[::-1]:
    print(num, end=" ")
    hap += num
print(hap)

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 5050

* reversed() 리스트를 역순으로 뒤집는 함수

In [58]:
hap = 0
for num in reversed(range(1,101)):
    print(num, end=" ")
    hap += num
print(hap)

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 5050

## enumerate() 반복문에서 자료의 인덱스를 만들어주는 함수

In [59]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해주는 함수입니다."

In [72]:
import time

In [74]:
for idx, i in enumerate(s):
    print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    time.sleep(1)
#     print(idx, i)

## continue, break 
* continue: 코드 실행을 건너뛰고 반복 계속 진행
* break: 특정 조건이 되었을 때 반복문 정지

In [79]:
for idx, i in enumerate(s):
#     print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    if idx % 2 == 0:
        continue
    else:
        print(idx, i)
        if idx >= 19:
            break
            
    time.sleep(1)
#     print(idx, i)

1 n
3 m
5 r
7 t
9
11 수
13
15 복
17 에
19

# while 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요

변수 선언 및 초기화<br>
while 조건식:<br>
____반복할 코드<br>
____변수 증가/감소 코드<br>
____반복문이 종료된 조건 + break<br>

while 문으로 1-10까지 출력하기

In [80]:
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10