<a href="https://colab.research.google.com/github/y25p/fintech_yeop/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%EC%A2%85%ED%95%A9%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

03python/연습문제_02_문자열_리스트.ipynb

1. 30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

In [ ]:
a= 30//8
b=30%8
print(a, b)

3 6

In [ ]:
print('30을 8로 나눈 몫은',a)
print('30을 8로 나눈 나머지는',b)
print('30을 8로 나눈 결과는',float(30/8))

30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75

2. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.

In [ ]:
a='시은 우진'
print(a+'화이팅!!','\n','\n',a+'화이팅!!')

시은 우진화이팅!!

 시은 우진화이팅!!

In [ ]:
# 다른풀이
a='시은 우진'
b='화이팅!!'
print(a,b,end='\n\n')
print(a,b)

시은 우진 화이팅!!

시은 우진 화이팅!!

3.이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

In [ ]:
name, age=input('이름과 나이를 입력하세요').split()
#print(name, age)
print('이름이 무엇인가요?', name)
print('나이는?', age)
print('메이킷님은 내년에', int(age) +1, '살이 되네요')

이름과 나이를 입력하세요메 이2
이름이 무엇인가요? 메
나이는? 이2

ValueError: invalid literal for int() with base 10: '이2'

4. 정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.

In [ ]:
a,b=input('정수와 실수를 하나씩 입력하세요').split()
avgg=(a+b)/2

print(a,'\n',b)
print('두 수의 합은',float(a+b))
print('두 수의 평균값은',avgg)

정수와 실수를 하나씩 입력하세요1 1.23

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
# 풀이
a,b=input('정수와 실수를 하나씩 입력하세요').split()
#print(a,b,type(a),type(b))
a=int(a)
b=float(b)
print(a)
print(b)
print('두 수의 합은',a+b)
print('두 수의 평균값은', (a+b)/2)

정수와 실수를 하나씩 입력하세요3 2.4
3
2.4
두 수의 합은 5.4
두 수의 평균값은 2.7

5. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

In [ ]:
# 메이킷 문자열 변수 개념자체가 처음인듯
makeit = 'Sieun Woojin!'

result1='S'
result2='W'
result3='!'

print(result1, result2, result3)

S W !

In [ ]:
#풀이 . 인덱싱
makeit = 'Sieun Woojin!'
print('result1=',makeit[0])
print('result2=',makeit[6])
print('result3=',makeit[-1])

result1= S
result2= W
result3= !

6.

In [ ]:
makit = 'Sieun Woojin!'

print(makeit[2:9])
print(makeit[:5])
print(makeit[6:])

eun Woo
Sieun
Woojin!

7

In [ ]:
makit = '동서남북동서남북동서남북'
print(makit[::4])

동동동

8

In [ ]:
makit = '동서남북'
makit[::-1]

'북남서동'

9

In [1]:
import re

In [2]:
text='안녕하세요! this is a test. 1234  #$%^&*&()'
text

'안녕하세요! this is a test. 1234  #$%^&*&()'

In [7]:
re.sub('[^가-힣a-zA-Z0-9]',' ',text)

'안녕하세요  this is a test  1234'

03python/연습문제_05_딕셔너리_조건문_반복문연습문제.ipynb

In [ ]:
# 딕셔너리 조건문 반복문연습문제
a, b, c=list(map(int, input("터널 높이 3개를 입력하세요").split()))
if a>150 and b>150 and c>150:
  print('터널 통과 가능 ')

In [ ]:
# 올해는 윤년일까? YES or No
Year=int(input('연도를 입력하세요:'))

연도를 입력하세요:2025

In [ ]:
print(year, type(year))

NameError: name 'year' is not defined

In [ ]:
if(year%4==0 and year%100)