1.**빈 리스트 `numbers`를 생성하고 출력하세요.**  
   ```python
   []
   ```

In [6]:
numbers=[]
numbers

[]

2.**`'numbers'`에 1,2,3,4,5 를 추가하고 출력하세요.**
```python
[1,2,3,4,5]
```

In [21]:
numbers=[1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [ ]:
#풀이
numbers=numbers+[1,2,3,4,5] #재할당 주의

3.**리스트 `numbers`에 숫자 `6`을 추가하고 출력하세요.**  
   ```python
   [1, 2, 3, 4, 5, 6]
   ```

In [22]:
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

4.**`'numbers'` 에 자료 1,2,3,4,5 를 추가하세요. append가 아닌 다른 함수로 추가**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]
```

In [23]:
numbers.extend([1, 2, 3, 4, 5])
print(numbers)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

5.**`'numbers'` 에 자료 1,2,3,4,5를 연산자를 이용해 추가하세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [24]:
numbers=numbers+[1, 2, 3, 4, 5]
print(numbers, end=" ")

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

6.**`'numbers'` 의 자료를 2배로 늘리세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [25]:
numbers=numbers*2
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

7. **리스트 `numbers`에서 두 번째 요소를 `99`로 변경하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [26]:
numbers[1]=99
print(numbers, end=' ')

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

8. **리스트 `numbers`에서 마지막 요소를 제거하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [27]:
numbers.pop()
print(numbers, end=' ')

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]

9. **리스트 `numbers`에서 `99`를 삭제하고 출력하세요.**
```python
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [ ]:
# 풀이
numbers.remove(99)

In [28]:
del numbers[1]
print(numbers, end=' ')

[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]

10.**리스트 `numbers`에서 4번째 `4`의 인덱스를 출력하고 삭제하세요.**
```python
18
4
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [ ]:
numbers.index(4,4) # 4번째 4

In [ ]:
# 풀이
numbers.pop(18)

In [31]:
del numbers[8]

11.**리스트 `numbers`에서 `5`의 개수를 출력하세요.**
```python
5
```

In [34]:
numbers.count(5)

5

12. **complex_list 변수에 리스트 `[1, 2, 3, [4, 5, 6], (7, 8, "튜플")]`을 만들고 ``"튜플"`을 출력하세요.**  
```python
[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]
튜플
```

In [114]:
complex_list=[1, 2, 3, [4, 5, 6], (7, 8, "튜플")]
print(complex_list,complex_list[4][2])

[1, 2, 3, [4, 5, 6], (7, 8, '튜플')] 튜플

13. **`complex_list`의 모든 요소를 역순으로 출력하세요.**  
```python
[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]
```

In [ ]:
# 풀이
complex_list.reverse() # 리버스된채 덮어씀

In [50]:
print(complex_list.reverse())

None

In [58]:
print(complex_list[::-1])

[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]

14. **`complex_list`내의 [4,5,6] 리스트를 역순 정렬하고 출력하세요.**  
```python
[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]
```

In [67]:
complex_list[::1]

[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]

In [109]:
# 풀이
complex_list[3].reverse()
complex_list

[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]

In [ ]:
complex_list[3]=complex_list[3][::-1] # 바꿀부분 다시 할당해주는것 가능한점!!

15. **`complex_list`에서 '튜플'을 삭제하세요**
```python
[1, 2, 3, [6, 5, 4], [7, 8]]
```

In [115]:
# 풀이
# 먼저 꺼내놓고
complex_list[4]=list(complex_list[4])
complex_list[4].pop()
complex_list

[1, 2, 3, [4, 5, 6], [7, 8]]

In [81]:
# 밑에서부터는 내가풀었음.. 뭔가 안맞음
list[complex_list[4]]

list[7, 8, '튜플']

In [84]:
q=list[complex_list[4]]
q=q.pop()
complex_list.append(q)
print(complex_list, end=" ")

TypeError: unbound method list.pop() needs an argument

16.**변수 t에 튜플 `(10, 20, 30, 40, 50)`을 만들고 최대값과 최소값을 결과 형식에 맞게 출력하세요.**  
```python
(10, 20, 30, 40, 50)
최대값: 50 최솟값: 10
```

In [ ]:
# 풀이가 좀더 간단함
t=(10, 20, 30, 40, 50)
print(t,"\n",f"최대값:{max(t)} 최솟값:{min(t)}")

In [85]:
t=(10, 20, 30, 40, 50)
maxx=max(t)
maxx

50

In [88]:
t=(10, 20, 30, 40, 50)
maxx=max(t)
minn=min(t)
print(t,"\n",f"최대값:{maxx} 최솟값:{minn}")

(10, 20, 30, 40, 50)
 최대값:50 최솟값:10

17.**튜플 `t`에서 모든 요소의 합을 출력하세요.**  
```python
150
```

In [89]:
sum(t)

150

18.**튜플 `t`에서 두 번째 요소(20)을 `"Python"`으로 변경하고 출력하세요.**  
```python
(10, 'Python', 30, 40, 50)
```

In [94]:
tt=list(t)
tt[1]='python'
t=tuple(tt)
t

(10, 'python', 30, 40, 50)

19.**튜플 t에 1,2,3,4,5를 list로 변경 없이 추가하고 출력하세요**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [ ]:
# 풀이
t= t+(1,2,3,4,5)
t

In [103]:
ttt=tuple(range(1,6))
T=t+ttt
T

(10, 'python', 30, 40, 50, 1, 2, 3, 4, 5)

20. **`'튜플 t'`의 요소를 2배로 늘리세요.**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5, 10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [ ]:
# 풀이
t=t*2 #19번에서 썼던 변수 이어서 재할당
print(t)

In [106]:
print(T*2, end=' ')

(10, 'python', 30, 40, 50, 1, 2, 3, 4, 5, 10, 'python', 30, 40, 50, 1, 2, 3, 4, 5)