# 딕셔너리 사용 연습문제 30개

1. **빈 딕셔너리 `empty_dict`를 생성하고 출력하세요.**

2. **다음과 같은 딕셔너리를 생성하고 출력하세요.**  
   ```python
   person = {"name": "Alice", "age": 25, "city": "Seoul"}
 
   ```

3. **딕셔너리 `person`에서 `"name"` 키의 값을 출력하세요.**  
```python
Alice
```

4. **딕셔너리 `person`에서 `"age"` 키의 값을 출력하세요.**  
   ```python
   25
   ```

5. **딕셔너리 `person`에 `"job": "Engineer"`를 추가하고 출력하세요.**  
   ```python
   {"name": "Alice", "age": 25, "city": "Seoul", "job": "Engineer"}
   ```

6. **딕셔너리 `person`에서 `"city"`의 값을 `"Busan"`으로 변경하고 출력하세요.**  
   ```python
{"name": "Alice", "age": 25, "city": "Busan", "job": "Engineer"}
   
   ```

7. **딕셔너리 `person`에서 `"age"` 키를 삭제하고 출력하세요.**  
   ```python
   {"name": "Alice", "city": "Busan", "job": "Engineer"}
   ```

8. **딕셔너리 `person`의 모든 키를 출력하세요.**  
   ```python
   dict_keys(['name', 'city', 'job'])
   ```

9. **딕셔너리 `person`의 모든 값(value)을 출력하세요.**  
   ```python
   dict_values(['Alice', 'Busan', 'Engineer'])
   ```

10. **딕셔너리 `person`의 모든 키-값 쌍을 출력하세요.**  
    ```python
    dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])
    ```

11. **`"email"` 키가 딕셔너리 `person`에 존재하는지 확인하세요.**  
    ```python
 False
    ```

12.**`person`에서 `"job"`을 제거하고 출력하세요.**  
    
```python
"Engineer",
{'name': 'Alice', 'city': 'Busan'}
```

13. **`person` 딕셔너리의 모든 키-값 쌍을 초기화하고 출력하세요.**  
    ```python
    {}
    ```

14. **중첩 딕셔너리를 student 변수에 생성하고 출력하세요.**  
```python
{"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
```

15.**student에서 "science" 점수를 출력하세요.**  
```python
90
```

16. **`student`의 `"grades"`에 `"english": 95`를 추가하고 출력하세요.**  
    ```python
    {'math': 85, 'science': 90, 'history': 80, 'english': 95}
    ```

17. **`student`의 `"math"` 점수를 88로 변경하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'history': 80, 'english': 95}
    ```

18. **`student`에서 `"history"` 점수를 삭제하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'english': 95}
    ```

19. **딕셔너리 `student`에서 setdefault를 이용하여 `"total"`이란 키를 만들고 math, science, english의 합계를 입력하세요. 단, 합계를 구할 때 값을 수동입력 하지 말고 딕셔너리에서 추출해서 더하도록 하세요.**  
    ```python
    {'name': 'Bob',
    'grades': {'math': 85, 'science': 90, 'english': 95},
    'total': 270}
    ```

20. **딕셔너리 `student`에서 update를 이용하여 'english' 는 100, 'history'는 80를 입력하세요.**  
```python
 {'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}
```

21.**courses라는 변수에 dict() 함수를 사용하여 다음과 같은 딕셔너리를 생성하세요.**
```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}
```

22. **"python"의 수강생 수를 출력하세요.**  
```python
50
```

23. **딕셔너리 `courses`에서 `"Cpp"` 수강생 수를 25로 변경하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25}
    ```

24. **딕셔너리 `courses`에서 `"Photoshop"` 수강생 수를 삭제하고 출력하세요.**  
    ```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Illustrator': 15}}
    ```

25. **딕셔너리 `courses`에서 `"JavaScript": 40`을 `"programming"` 항목에 추가하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}
    ```

26. **딕셔너리 `courses`의 모든 과목명을 출력하세요.**  
    ```python
    dict_keys(['programming', 'design'])
    ```

27. **딕셔너리 `courses`에서 `"design"` 과목의 모든 정보를 출력하세요.**  
    ```python
    {'Illustrator': 15}
    ```

28. **딕셔너리 `courses`에서 `"design"` 항목을 삭제하고 전체 딕셔너리를 출력하세요.**  
    ```python
    {'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}}
    ```

In [69]:
print("programming" in courses)

True

29. **딕셔너리 `courses`에서 `"programming"` 항목이 존재하는지 확인하세요.**  
    ```python
    True
    ```

30. **딕셔너리 `courses`에서 `"design"` 항목을 출력하고 `"design"` 이 없다면 design key 없음 이라고 출력하도록 하세요.** 
```python
design key 없음
```