# 1~15: 기본적인 print() 사용

1.문제: print()를 사용하여 숫자 100을 출력하세요.

결과 값: 
```python
100
```

In [1]:
print(100)

100

2.문제: print()를 사용하여 **문자열 "Hello Python"**을 출력하세요.

결과 값: 
```python
"Hello Python"
```

In [5]:
d='"hello python"'
print(d)

"hello python"

3.문제: print()를 사용하여 10과 20을 한 줄에 출력하세요.

결과 값: 
```python
10 20
```

#

4.문제: print()를 사용하여 10, 20, 30을 한 줄에 공백 없이 출력하세요.

결과 값: 

```python
102030
```

In [10]:
print(102030)

102030

5.문제: print()를 사용하여 10, 20, 30을 -로 구분하여 출력하세요.

결과 값: 
```python
10-20-30
```

In [14]:
p="10-20-30"
print(p)

10-20-30

6.문제: 두 개의 print() 문을 사용하되, 한 줄에 출력하세요.

결과 값: 
```python
Hello Python
```

#

In [22]:
print('hello', print('python'))

python
hello None

7.문제: print()를 사용하여 3 + 5의 결과를 출력하세요.

결과 값: 
```python
3 + 5: 8
```

In [24]:
print('3 +5: 8')

3 +5: 8

8.문제: print()를 사용하여 50 - 15의 결과를 출력하세요.

결과 값: 
```python
50 - 15: 35
```

In [26]:
print('50 - 15: 35')

50 - 15: 35

9.문제: print()를 사용하여 4 × 6의 결과를 출력하세요.

결과 값: 
```python
4 × 6: 24
```

In [27]:
print('4 * 6: 24')

4 * 6: 24

10.문제: print()를 사용하여 20을 4로 나눈 결과를 출력하세요.

결과 값: 
```python
5.0
```

In [30]:
print(float(20/4))

5.0

11.문제: print()를 사용하여 20 을 3으로 나눈 몫을 출력하세요.

결과 값: 
```python
6
```

In [31]:
print(20//3)

6

12.문제: print()를 사용하여 20을 3으로 나눈 나머지를 출력하세요.

결과 값: 
```python
2
```

In [32]:
print(20%3)

2

13.문제: print()를 사용하여 2의 5제곱 결과를 출력하세요.

결과 값: 
```python
32
```

In [33]:
print(2**5)

32

14.문제: print()를 사용하여 5 + 3 × 2의 결과를 출력하세요.

결과 값: 
```python
11
```

In [34]:
print(5+3*2)

11

15.문제: print()를 사용하여 (5 + 3) × 2의 결과를 출력하세요.

결과 값: 
```python
16
```

In [35]:
print((5+3)*2)

16

# 16~25: 다양한 출력 형식

16.문제: print()의 sep 매개변수를 사용하여 "apple-banana-cherry"를 출력하세요.

결과 값: 
```python
apple-banana-cherry
```

#

In [3]:
print("apple","banana","cherry",sep='-')

apple-banana-cherry

17.문제: print()의 end 매개변수를 사용하여 "Hello"와 "World"를 공백 없이 출력하세요.

결과 값: 
```python
HelloWorld
```

In [39]:
print('Hello',end="")
print('World')

HelloWorld

18.문제: print()를 사용하여 변수 a = 10, b = 20을 선언하고 a + b를 출력하세요.

결과 값: 
```python
a + b: 30
```

In [44]:
a=10
b=20
print('a + b:',a+b)

a + b: 30

19.문제: print()를 사용하여 100을 3으로 나눈 결과를 정수형으로 출력하세요.

결과 값: 
```python
33
```

In [45]:
print(int(100/3))

33

20.문제: print()를 사용하여 5개의 숫자를 한 줄에 공백(" ")으로 구분하여 출력하세요.

결과 값: 
```python
1 2 3 4 5
```

#

In [48]:
print(1,2,3,4,5)

1 2 3 4 5

21.문제: print()를 사용하여 1부터 10까지의 합을 출력하세요.

결과 값: 
```python
55
```

In [4]:
print(```python',sum(1,2,3,4,5,6,7,8,9,10),```)

SyntaxError: invalid syntax (839735510.py, line 1)

22.문제: print()를 사용하여 1부터 5까지의 곱을 출력하세요.

결과 값: 
```python
120
```

In [51]:
print(1*2*3*4*5)

120

23.문제: print()를 사용하여 "Python"을 3번 반복하여 출력하세요.

결과 값: 
```python
PythonPythonPython
```

In [52]:
o='Python'
print(o*3)

PythonPythonPython

24.문제: print()를 사용하여 숫자 10을 문자열과 함께 출력하세요.

결과 값: 
```python
The number is 10
```

In [56]:
print('The number is', 10)

The number is 10

25.문제: 두개의 print()를 사용하여 
"Hello", 
"world"를 출력하되 결과가 "Hello world" 가 되도록 출력하세요.

결과 값: 
```python
Hello world
```

#

# 파이썬 자료형 연습문제 30개

26.문제: 변수 a에 정수 10을 저장하고 출력하세요.

결과 값: 
```python
10
```

In [57]:
a=10
a

10

27.문제: 변수 b에 실수 3.14를 저장하고 출력하세요.

결과 값: 
```python
3.14
```

In [59]:
b=3.14
b

3.14

28.문제: 변수 c에 문자열 "Python"을 저장하고 출력하세요.

결과 값: 
```python
Python
```

In [62]:
c='Python'
print(c)

Python

29.문제: 변수 d에 True 값을 저장하고 출력하세요.

결과 값: 
```python
True
```

In [63]:
d=True
d

True

30.문제: type() 함수를 사용하여 변수 b의 자료형을 출력하세요.

결과 값: 
```python
<class 'float'>
```

In [65]:
print(type(b))

<class 'float'>

31.문제: len() 함수를 사용하여 문자열 "Hello World"의 길이를 출력하세요.

결과 값: 
```python
11
```

In [66]:
len("Hello World")

11

32.문제: 문자열 "Python"에서 첫 번째 문자를 출력하세요.

결과 값: 
```python
P
```

In [68]:
i="Python"
print(i[0])

P

33.문제: 문자열 "Python"에서 마지막 문자를 출력하세요.

결과 값: 
```python
n
```

In [69]:
i="Python"
print(i[-1])

n

34.문제: 문자열 "Python Programming"에서 "Programming"만 출력하세요.

결과 값: 
```python
Programming
```

#

In [72]:
u="Python Programming"
u.split(" ")

['Python', 'Programming']

35.문제: 문자열 "Python"을 3번 반복하여 출력하세요.

결과 값: 
```python
PythonPythonPython
```

In [73]:
o='Python'
print(o*3)

PythonPythonPython

36.문제: 리스트 numbers = [1, 2, 3, 4, 5]를 생성하고 출력하세요.

결과 값: 
```python
[1, 2, 3, 4, 5]
```

In [79]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

37.문제: 리스트 numbers의 첫 번째 요소를 출력하세요.

결과 값: 
```python
1
```

In [75]:
numbers[0]

1

38.문제: 리스트 numbers의 마지막 요소를 출력하세요.

결과 값: 
```python
5
```

In [ ]:
numbers[-1]

39.문제: 리스트 numbers의 길이를 출력하세요.

결과 값: 
```python
5
```

In [76]:
len(numbers)

5

40.문제: 리스트 numbers에 숫자 6을 추가하고 출력하세요.

결과 값: 
```python
[1, 2, 3, 4, 5, 6]
```

In [80]:
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

41.문제: 중첩 리스트 nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]를 생성하고 출력하세요.

결과 값: 
```python
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
```

In [81]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

42.문제: nested_list에서 두 번째 리스트의 첫 번째 요소를 출력하세요.

결과 값: 
```python
4
```

In [82]:
nested_list[1][0]

4

43.문제: nested_list에서 세 번째 리스트의 마지막 요소를 출력하세요.

결과 값: 
```python
9
```

In [83]:
nested_list[2][-1]

9

44.문제: 중첩 튜플 nested_tuple = ((1, 2), (3, 4, 5), (6, 7, 8, 9))을 생성하고 출력하세요.

결과 값: 
```python
((1, 2), (3, 4, 5), (6, 7, 8, 9))
```

In [84]:
 nested_tuple = ((1, 2), (3, 4, 5), (6, 7, 8, 9))
nested_tuple

((1, 2), (3, 4, 5), (6, 7, 8, 9))

45.문제: nested_tuple에서 두 번째 튜플의 두 번째 요소를 출력하세요.

결과 값: 
```python
4
```

In [88]:
lnt=list(nested_tuple)
lnt_2=list(lnt[1])
lnt_2[1]

4

46.문제: person = {"name": "Alice", "info": {"age": 25, "city": "Seoul"}}을 생성하고 출력하세요.

결과 값: 
```python
{'name': 'Alice', 'info': {'age': 25, 'city': 'Seoul'}}
```

In [6]:
person = {"name": "Alice", "info": {"age": 25, "city": "Seoul"}}
person

{'name': 'Alice', 'info': {'age': 25, 'city': 'Seoul'}}

47.문제: person 딕셔너리에서 "age" 값을 출력하세요.

결과 값: 
```python
25
```

In [9]:
person['info']["age"]

25

48.문제: 복합 자료 구조 data를 생성하고 출력하세요.

결과 값:
```python
{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}
```

In [10]:
data={'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}

49.문제: data에서 "Alice"의 첫 번째 점수를 출력하세요.
결과 값: 
```python
95
```

In [4]:
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [114]:
data['info'][0]['scores'][0]

95

50.문제: data에서 "Bob"의 마지막 점수를 출력하세요.
결과 값: 
```python
89
```

In [115]:
data['info'][1]['scores'][-1]

89

51.문제: data에서 "coding"을 출력하세요.

결과 값: 
```python
"coding"
```

In [121]:
data['extra']['hobbies'][1]

'coding'

52.문제: data에서 "Busan"을 출력하세요.

결과 값: 
```python
"Busan"
```

In [129]:
data['extra']['location'][1]

'Busan'

53.문제: data에서 "Alice"의 전체 점수를 리스트로 변환하여 출력하세요.

결과 값: 
```python
[95, 88, 92]
```

In [15]:
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [19]:
list(data['info'][0]['scores'])

[95, 88, 92]

54.문제: data에서 "Bob"의 평균 점수를 출력하세요.

결과 값: 
```python
84.0
```

In [25]:
sum(data['info'][1]['scores'])/3

84.0

55.문제: data에 새로운 키 "school": "XYZ High"를 추가하고 출력하세요.

결과 값: 
```python
{'info': [...], 'extra': {...}, 'school': 'XYZ High'}
```

In [45]:
data['school']=['XYZ High']

In [46]:

data

{'info': [{'name': 'Alice', 'scores': [95, 88, 90]},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding', 'gaming'],
  'location': ('Seoul', 'Busan')},
 'school': ['XYZ High']}

56.문제: data["extra"]["hobbies"]에 "gaming"을 추가하고 출력하세요.

결과 값: 
```python
['reading', 'coding', 'gaming']
```

In [31]:
data["extra"]["hobbies"].append('gaming')
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding', 'gaming'],
  'location': ('Seoul', 'Busan')}}

In [32]:
data["extra"]["hobbies"]

['reading', 'coding', 'gaming']

57.문제: data에서 "Alice"의 두 번째 점수를 "90"으로 변경하고 출력하세요.

결과 값: 
```python
{'info': [{'name': 'Alice', 'scores': (95, 90, 92)}, ...]}
```

In [42]:
data['info'][0]['scores']=list(data['info'][0]['scores'])
data['info'][0]['scores'][2]=90
data

{'info': [{'name': 'Alice', 'scores': [95, 88, 90]},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding', 'gaming'],
  'location': ('Seoul', 'Busan')}}

58.문제: "Bob"의 첫 번째 점수를 출력하세요.

결과 값: 
```python
78
```

In [43]:
data['info'][1]['scores'][0]

78

59."Alice"의 모든 점수의 합을 출력하세요.

결과 값: 
```python
275
```

In [44]:
sum(data['info'][0]['scores'])

273

In [ ]:
alice_score=data['info'][0]['scores']

60.위의 자료에서 'Alice', 'coding', 'Seoul'을 추출하고 print()를 이용해 "Seoul에 사는 Alice는 coding을 좋아합니다"를 출력하세요.

결과 값:
```python
"Seoul에 사는 Alice는 coding을 좋아합니다"
```

In [5]:
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [7]:
name= data['info'][0]['name']

In [11]:
bohhy= data['extra']['hobbies'][1]
bohhy

'coding'

In [9]:
data['extra']['location'][0]

'Seoul'

In [10]:
location=data['extra']['location'][0]

In [13]:
print(location,"에 사는",name,"는", bohhy,"를 좋아합니다")

Seoul 에 사는 Alice 는 coding 를 좋아합니다

In [16]:
# 변수명과 str사이에 공백 없애려면 sep주기
print(location,"에 사는",name,"는 ", bohhy,"를 좋아합니다",sep="")

Seoul에 사는Alice는 coding를 좋아합니다

** 그렇다면 을/를을 단어에 따라 다르게 나오게하는것도 할 수 있나???