# 지도학습 _분류분석_컬럼선택법_클래스불균형_모델성능향상 시키기

# 중요 컬럼 선택하기-3가지 방법
1. EDA를 통해 종속변수와 중요한 관계인 변수들만 선택
2. 수치형 변수는 상관분석 결과를 통해, 범주형 변수는 카이제곱 통계량(통계학적 방법)
3. 머신러닝 알고리즘을 통한 1차 분석 후 중요하게 사용된 변수만 선택

# tree 계열 모델의 feature_importance로 선택

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns

In [2]:
# 모델 학습
from sklearn.model_selection import train_test_split
# 결정나무
from sklearn.tree import DecisionTreeClassifier
# 평가 지표
from sklearn.metrics import accuracy_score,classification_report

In [3]:
data = pd.read_csv("./data/salary2.csv")
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

# RandomForest

- 연봉 데이터는 '>50K'가 1, <=50K가

# 데이터를 증폭/축소하여 class 불균형해소
- imbalanced-learn smote/cluster-centroids
- 머신러닝 알고리즘을 통해 비슷한 데이터를 물리적으로 생성/축소
- **반드시 train 데이터에만 적용** <br> 가상으로 생성하여서 증폭시키는 값이므로
- 알고리즘에 따라 증폭 방법이 달라짐.
    - smote) 비계층형 군집분석 기반.
    - cluster-centroids ) 거리기반 계층형 군집분석 기반
    - smotenc ) 범주형과 수치형 함께.

# 데이터분석 과정 재정리
1) 데이터 선택 및 로딩
2) 결측값, 이상값 탐지
3) EDA(탐색적 데이터 분석)
4) 변수 데이터타임, 서열변수, 카테고리 변수 처리
5) 변수 선택, 파생변수 생성
6) 홀드아웃(훈련데이터, 테스트 데이터로 분리)
7) 분석에 맞는 알고리즘 불러와 모델 생성
8) 분석 목적에 맞는 지표를 통해 모델성능검증
9) 하이퍼파라미터튜닝 (클래스 불균형 해소)<br> 모델에서 소수클래스 가중치 조절
10) 최종 모델 선택
<br>
**위 과정은 공통적이되, 알고리즘이 달라질것**