# 연산자의 종류
* 산술,할당,비교,논리,식별,멤버
* 산술은 사칙연산 및 %,//,** 가 있음
* 비교는 <,>

## 산술연산자
* 정수/정수는 무조건 float
* 몫만 구하는 연산자
* 나머지만 구하는 연산자

In [1]:
123976253089273470/2 #결과 바로나옴

6.198812654463674e+16

In [2]:
# %
# 나머지를 구하는 연산자
# 홀짝 구분 필요할 때 쓰임

4%2

0

In [3]:
# 나누기나누기
# 몫을 구하는 연산자
7//3

2

In [4]:
# 제곱은 **
2**3 #2의 3승

8

## 할당연산자
* =, +=, -=, *=, /=, %=
* equl의 의미가 아니라 변수에 할당됨을 의미.
* +=는

In [5]:
a=10
b=5
a=a+5   #원래 할당된 값에 덮어쓰기
a

15

In [6]:
a=10
b=5
a+=5   #같은과정 다른 연산자
a

15

In [7]:
#b= b-10
b-=10
b

-5

In [8]:
b*=-1
a/=10
a,b

(1.5, 5)

In [9]:
a %= 1000
a

1.5

# 비교연산자
* == 완전히 일치함
* != 다르다
* > 초과 < 미만 >=이상 <=이하

In [10]:
a=3
b=3.0
c=5
d='python'
e='Python' # 대소문자 - ascii코드값 차이
f= True
g= False

**일치여부에 따라 True False**

In [11]:
a==b

True

In [12]:
a==c

False

In [13]:
d==e

False

#### **!=** 불일치하면 True 일치하면 False

In [14]:
a!=c, a!=b

(True, False)

In [15]:
print(d!=e,f!=g)

True True

In [16]:
print( a,'\n', c)
print(a>c)

3
 5
False

In [17]:
print(a,'\r',b)
print(a>=b)

 3.0
True

#  논리연산자 
- end, or, not

### and는 하나라도 False면 False

In [18]:
True and True

True

In [19]:
True and False #False가 있긴하네

False

In [20]:
False and False

False

### or는 하나라도 True면 True

In [21]:
True or False # True가 있긴하네

True

In [22]:
print(False or False, True or True)

False True

### not 값을 반대로 뒤집음

In [23]:
print(not True,',', not False)

False , True

 ###  not, and, or의 우선순위  @헷갈림 주의@
 - not and or 순서

In [24]:
not True and False or not False
# False and Fase 까지 False
# False or True는 True

True

In [25]:
10 == 10 and 10 !=5

True

## 식별연산자
- is와 is not ( object나 dtype ) 일치여부

In [26]:
print(a)
print(b)
print(c)

#이렇게 있으면

print(a==b)
print(a is b)

3
3.0
5
True
False

- print(a is b)가 False 인 이유
- 정수와 실수는 dtype 다름
- dtype이 다른것과 수학적 값이 같은것을 별개로 생각할것.

In [27]:
d=3
print(a is d) # 둘다 정수

True

In [28]:
o=1
print(a is d is o)

False

In [29]:
print(a is d and c is o)

False

In [30]:
print(a is not b)

True

## 멤버연산자
- in, not in 
- sql에서 or로 필터링할게 여러개일때 썼음

In [31]:
mem=[1,2,3,4,5]
print(10 not in mem, 10 in mem)

True False

## 문자열에서 특정문자 치환

-정수로 형변환 int()

In [32]:
a=6.6
b=3.3

In [33]:
a+int(b)

9.6

-실수로 변환 float()

In [34]:
a+float(b)

9.899999999999999

-문자열로 변환 str()

In [35]:
a=33
b='1'
str(a)+b  #'33'+'1'은

'331'

-list의 형변환

In [36]:
t=(0,2,4,6)
print(t,type(t))

(0, 2, 4, 6) <class 'tuple'>

In [37]:
t2=list(t)
print(t2,type(t2))

[0, 2, 4, 6] <class 'list'>

In [38]:
t2.append(5)
print(t2)

[0, 2, 4, 6, 5]

-튜플로 형변환 tuple()
* 자료추가삭제해야할때 리스트로 변환했다가 다시 튜플화할수있는것

In [39]:
t3=tuple(t2)
print(t3,type(t3))

(0, 2, 4, 6, 5) <class 'tuple'>

In [40]:
t3

(0, 2, 4, 6, 5)

-dict를 다양하게 활용할 수있지만 dictionary로 변환은 어려움

# Input() :
입력받는 값은 ""으로 구분해서 여러가지 받을 수 있음

In [ ]:
data = input('숫자 3개 써넣기')
print(data)

- input(),split()과 함께 섞어 쓸수 있음
- split(",")의 형식

In [ ]:
data = input('숫자 3개 써넣기').split()
print(data, type(data))

In [ ]:
type(data[2])

In [ ]:
 #문자열이니까 붙어나오니
int(data[0]+data[1]) #형변환을 해서 답이 정수로 떨어질 수 있게

In [1]:
data = input('숫자 3개 써넣기').split()
print(data, type(data))

숫자 3개 써넣기10 20 9
['10', '20', '9'] <class 'list'>

In [2]:
a,b,c,d = input('숫자 입력해봐요').split()
print

숫자 입력해봐요10 20 30 40